
body {
  margin: 0;
  padding: 0;
}


.btn:defined {
  border-style: none;
  outline: none;
  outline-offset: none;
  box-shadow: none;
  box-sizing: border-box;
}

button:defined {
  border-style: none;
  outline: none;
  outline-offset: none;
  box-shadow: none;
  box-sizing: border-box;
}


.button-atom-l,
.button-atom-l * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:inline-flex;
}

.include-text-primary {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--button, 600 11px/140% "Inter", sans-serif);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 0.99px;
}
.include-text-secondary {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--button, 600 11px/140% "Inter", sans-serif);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 0.99px;
}
.include-text-outline{
  color: var(--grey-4, #4e4e5b);
  text-align: left;
  font: var(--button, 600 11px/140% "Inter", sans-serif);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 0.99px;
}
.include-text-disabled{
  color: var(--grey-3, #808089);
  text-align: left;
  font: var(--button, 600 11px/140% "Inter", sans-serif);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 0.99px;
}

.button-atom-l .type-primary-hover-off-icon-none {
  background: var(--primary-40, #4551c8);
  border: 1px solid var(--primary-40, #4551c8);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-primary-hover-on-icon-none {
  background: var(--primary-60, #7985fe);
  border: 1px solid var(--primary-60, #7985fe);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-primary-hover-off-icon-none:hover {
  background: var(--primary-60, #7985fe);
  border: 1px solid var(--primary-60, #7985fe);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-primary-hover-off-icon-r {
  background: var(--primary-40, #4551c8);
  border: 1px solid var(--primary-40, #4551c8);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-primary-hover-on-icon-r {
  background: var(--primary-60, #7985fe);
  border: 1px solid var(--primary-60, #7985fe);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-primary-hover-off-icon-r:hover {
  background: var(--primary-60, #7985fe);
  border: 1px solid var(--primary-60, #7985fe);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-primary-hover-off-icon-l {
  background: var(--primary-40, #4551c8);
  border: 1px solid var(--primary-40, #4551c8);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-primary-hover-on-icon-l {
  background: var(--primary-60, #7985fe);
  border: 1px solid var(--primary-60, #7985fe);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-primary-hover-off-icon-l:hover {
  background: var(--primary-60, #7985fe);
  border: 1px solid var(--primary-60, #7985fe);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-off-icon-none {
  background: var(--success, #25b022);
  border: 1px solid var(--success, #25b022);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-on-icon-none {
  background: var(--success-2, #73dc70);
  border: 1px solid var(--success-2, #73dc70);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-off-icon-none:hover {
  background:  var(--success-2, #73dc70);
  border: 1px solid var(--success-2, #73dc70);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-off-icon-r {
  background: var(--success, #25b022);
  border: 1px solid var(--success, #25b022);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-on-icon-r {
  background: var(--success-2, #73dc70);
  border: 1px solid var(--success-2, #73dc70);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-off-icon-r:hover {
  background: var(--success-2, #73dc70);
  border: 1px solid var(--success-2, #73dc70);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-off-icon-l {
  background: var(--success, #25b022);
  border: 1px solid var(--success, #25b022);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-on-icon-l {
  background: var(--success-2, #73dc70);
  border: 1px solid var(--success-2, #73dc70);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-secondary-hover-off-icon-l:hover {
  background: var(--success-2, #73dc70);
  border: 1px solid var(--success-2, #73dc70);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-off-icon-none {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-2, #c6c7d3);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-on-icon-none {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-1, #eaecf6);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-off-icon-none:hover {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-1, #eaecf6);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-off-icon-r {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-2, #c6c7d3);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-on-icon-r {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-1, #eaecf6);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-off-icon-r:hover {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-1, #eaecf6);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-off-icon-l {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-2, #c6c7d3);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-on-icon-l {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-1, #eaecf6);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-outline-hover-off-icon-l:hover {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid var(--grey-1, #eaecf6);
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.button-atom-l .type-disabled-hover-off-icon-none {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}
.button-atom-l .type-disabled-hover-on-icon-none {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}
.button-atom-l .type-disabled-hover-off-icon-none:hover {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}
.button-atom-l .type-disabled-hover-off-icon-r {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}
.button-atom-l .type-disabled-hover-on-icon-r {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}
.button-atom-l .type-disabled-hover-off-icon-r:hover {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}
.button-atom-l .type-disabled-hover-off-icon-l {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}
.button-atom-l .type-disabled-hover-on-icon-l {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}
.button-atom-l .type-disabled-hover-off-icon-l:hover {
  background: var(--grey-1, #eaecf6);
  border: 1px solid var(--grey-1, #eaecf6);
  border-radius: 4px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
  cursor: auto !important;
}

