@import "../styleguide.css";

.switchContainer {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    gap: 5px
}
.switchContainer input[id="type-switch-checked-true-disabled-true"],
.switchContainer input[id="type-switch-checked-true-disabled-false"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e") !important;
}
.switchContainer input[id="type-switch-checked-false-disabled-true"],
.switchContainer input[id="type-switch-checked-false-disabled-false"]
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e") !important;
}
.switchContainer input[id="type-switch-checked-true-disabled-false"] {
    background-color: var(--primary-80, #bcc2ff);
    border-color: var(--primary-80, #bcc2ff);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-true-disabled-true"] {
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-false-disabled-false"] {
    background-color: var(--primary-80, #bcc2ff);
    border-color: var(--primary-80, #bcc2ff);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-false-disabled-true"] {
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-true-disabled-false"]:focus,
.switchContainer input[id="type-switch-checked-true-disabled-false"]:active {
    box-shadow: none;
    border-color: #bcc2ff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-true-disabled-true"]:focus,
.switchContainer input[id="type-switch-checked-true-disabled-true"]:active {
    box-shadow: none;
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-false-disabled-false"]:focus,
.switchContainer input[id="type-switch-checked-false-disabled-false"]:active {
    box-shadow: none;
    border-color: #bcc2ff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-false-disabled-true"]:focus,
.switchContainer input[id="type-switch-checked-false-disabled-true"]:active {
    box-shadow: none;
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-true-disabled-false"]:checked {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-true-disabled-true"]:checked {
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-false-disabled-false"]:checked {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-false-disabled-true"]:checked {
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-true-disabled-false"]  {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
.switchContainer input[id="type-switch-checked-true-disabled-true"]  {
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.switchContainer input[id="type-radio-checked-true-disabled-false"]:checked {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
}
.switchContainer input[id="type-radio-checked-true-disabled-true"]:checked {
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
}
.switchContainer input[id="type-radio-checked-false-disabled-false"]:checked {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
}
.switchContainer input[id="type-radio-checked-false-disabled-false"]:focus,
.switchContainer input[id="type-radio-checked-false-disabled-false"]:active
{
    box-shadow: none;
    border-color: var(--primary-20, #4551c8);
}
.switchContainer input[id="type-radio-checked-false-disabled-true"]:checked {
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
}
.switchContainer input[id="type-radio-checked-true-disabled-false"]  {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%23fff%27/%3e%3c/svg%3e");
}
.switchContainer input[id="type-radio-checked-true-disabled-true"],
.switchContainer input[id="type-radio-checked-false-disabled-true"]{
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
}
.switchContainer input[id="type-radio-checked-true-disabled-true"]  {
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%23fff%27/%3e%3c/svg%3e");
}

.switchContainer input[id="type-checkbox-checked-true-disabled-false"]:checked {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
}
.switchContainer input[id="type-checkbox-checked-true-disabled-false"]{
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
}
.switchContainer input[id="type-checkbox-checked-true-disabled-true"]:checked {
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
}
.switchContainer input[id="type-checkbox-checked-false-disabled-false"]:checked {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
}
.switchContainer input[id="type-checkbox-checked-false-disabled-false"] {
    box-shadow: none;
    border-color: var(--primary-20, #4551c8);
}
.switchContainer input[id="type-checkbox-checked-false-disabled-true"]:checked {
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
}
.switchContainer input[id="type-checkbox-checked-true-disabled-false"]  {
    box-shadow: none;
    background-color: var(--primary-20, #4551c8);
    border-color: var(--primary-20, #4551c8);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}
.switchContainer input[id="type-checkbox-checked-true-disabled-true"],
.switchContainer input[id="type-checkbox-checked-false-disabled-true"]{
    box-shadow: none;
    background-color: var(--grey-1, #EAECF6);
    border-color: var(--grey-1, #EAECF6);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}
.switchLabel {
    margin-top: 4px;
    font-size: 16px;
    color: var(--grey-4, #4E4E5B);
    font-family: Roboto, serif;
}
