@import "../styleguide.css";

.password input[id="validation-true-placeholder-false"],
.password input[id="validation-false-placeholder-false"],
.password input[id="validation-none-placeholder-false"],
.password input[id="validation-true-placeholder-true"],
.password input[id="validation-false-placeholder-true"],
.password input[id="validation-none-placeholder-true"]{
  font-size: 12px;
  color: var(--grey-4, #4e4e5b);
  font-family: Inter, sans-serif;
  background-color: var(--grey-5, #F3F6F9) !important;
  box-sizing: border-box !important;
  border: 1px solid var(--grey-5, #F3F6F9) !important;
  max-height: 40px!important;
  height: 40px!important;
  min-height: 40px!important;
}
.password input[id="validation-true-placeholder-false"]::placeholder,
.password input[id="validation-false-placeholder-false"]::placeholder,
.password input[id="validation-none-placeholder-false"]::placeholder {
  font-size: 12px !important;
  color: var(--grey-4, #4e4e5b) !important;
  font-family: Inter, sans-serif;
}

.password input[id="validation-true-placeholder-true"]::placeholder,
.password input[id="validation-false-placeholder-true"]::placeholder,
.password input[id="validation-none-placeholder-true"]::placeholder {
  font-size: 12px !important;
  color: var(--grey-4, #4e4e5b) !important;
  font-family: Inter, sans-serif;
  position: absolute;
  bottom: 5px;
}

label[for="input"]::after {
  background: none !important;
}

input[id="validation-true-placeholder-false"] ~ label[for="input"],
input[id="validation-false-placeholder-false"] ~ label[for="input"],
input[id="validation-none-placeholder-false"] ~ label[for="input"] {
  font-size: 12px !important;
  color: var(--grey-4, #4e4e5b) !important;
  font-family: Inter, sans-serif;
  padding: 10px!important;
}

input[id="validation-true-placeholder-true"] ~ label[for="input"],
input[id="validation-false-placeholder-true"] ~ label[for="input"],
input[id="validation-none-placeholder-true"] ~ label[for="input"] {
  font-size: 10px !important;
  color: var(--grey-4, #4e4e5b) !important;
  font-family: Inter, sans-serif;
  padding-top: 5px;
}

.password input[id="validation-true-placeholder-false"],
.password input[id="validation-true-placeholder-true"]
{
  border: 1px solid var(--success, #25b022) !important;
}

.password input[id="validation-false-placeholder-false"],
.password input[id="validation-false-placeholder-true"]
{
  border: 1px solid var(--error, #c62b34) !important;
}

.validationText {
  text-align: right;
  font-size: 12px;
  font-family: Inter, sans-serif;
}
input[id="type-primary-validation-true-placeholder-false"] ~ .validationText,
input[id="type-primary-validation-true-placeholder-true"] ~ .validationText,
div[id="type-money-validation-true-placeholder-false"] ~ .validationText,
div[id="type-money-validation-true-placeholder-true"] ~ .validationText{
  color: var(--success, #25b022);
}
input[id="type-primary-validation-false-placeholder-false"] ~ .validationText,
input[id="type-primary-validation-false-placeholder-true"] ~ .validationText,
div[id="type-money-validation-false-placeholder-false"] ~ .validationText,
div[id="type-money-validation-false-placeholder-true"] ~ .validationText
{
  color: var(--error, #c62b34);
}


div[id="validation-true-placeholder-true"] ~ label[for="input"],
div[id="validation-false-placeholder-true"] ~ label[for="input"],
div[id="validation-none-placeholder-true"] ~ label[for="input"]{
  font-size: 10px !important;
  color: var(--grey-4, #4e4e5b) !important;
  font-family: Inter, sans-serif;
  padding-top: 7px;
}

input[id="validation-true-placeholder-true"]:focus,
input[id="validation-false-placeholder-true"]:focus,
input[id="validation-none-placeholder-true"]:focus,
input[id="validation-true-placeholder-false"]:focus,
input[id="validation-false-placeholder-false"]:focus,
input[id="validation-none-placeholder-false"]:focus {
  box-shadow: none !important;
  border: 1px solid var(--primary-20, #09179a) !important;
  background-color: #FFFFFF !important;
}

span[id="eyeIcon"] {
  position: absolute;
  z-index: 10;
  right: 12px;
  top: 5px;
}

.validationText {
  text-align: right;
  font-size: 12px;
  font-family: Inter, sans-serif;
}

input[id="validation-true-placeholder-false"] ~ .validationText,
input[id="validation-true-placeholder-true"] ~ .validationText {
  color: var(--success, #25b022);
}

input[id="validation-false-placeholder-false"] ~ .validationText,
input[id="validation-false-placeholder-true"] ~ .validationText
{
  color: var(--error, #c62b34);
}
