.SideMenu {
    font-family: Roboto, sans-serif;
    color: white;
    text-align: left;
    font-size: 12px;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 8px;
    border-radius: 4px;
}


.message {
    padding: 1px 4px;
    border-radius: 4px;
    margin-right: 10px;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.emptyDecoration {
    width: 16px;
}