@import "../styleguide.css";

body {
  margin: 0;
  padding: 0;
}

.inputs-atom,
.inputs-atom * {
  border-style: none;
  outline: none;
  outline-offset: none;
  box-shadow: none;
  box-sizing: border-box;
}
.inputs-atom {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 304px;
  position: relative;
}
.label {
  color: var(--grey-4, #4e4e5b);
  text-align: left;
  font: 400 10px/120% "Roboto", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--grey-2, #c6c7d3);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 28px;
  position: relative;
}
.text {
  flex-shrink: 0;
  width: 56px;
  height: 17px;
  position: relative;
}
.label2 {
  color: var(--grey-4, #4e4e5b);
  text-align: left;
  font: 400 12px/120% "Roboto", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - 4.5px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-black-calendar {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.group-409 {
  position: absolute;
  left: 2px;
  top: 1.33px;
  overflow: visible;
}

